{{define "leaderboard-entries"}}
{{if .}}
<table class="analytics-table">
    <thead>
        <tr>
            <th style="width:3rem;">#</th>
            <th>Player</th>
            <th style="text-align:right;">Value</th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <td style="font-weight:800;">{{.Rank}}</td>
            <td style="color:{{.PlayerColor}}; font-weight:700;">{{.PlayerName}}</td>
            <td>{{.Value}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{else}}
<p class="analytics-empty">No data yet. Play some games!</p>
{{end}}
{{end}}
