{{define "target"}}
<div id="target_{{ .ID }}" data-target-id="{{.ID}}">
    <svg viewBox="0 0 150 150" class="target" style="
        position:absolute;
        left: {{ .X }}px;
        top: {{ .Y }}px;
        width: {{ .Size }}px;
        height: {{ .Size }}px;">
        <circle data-points="1" cx="75" cy="75" r="70"
            fill="{{.Color}}" />
        <circle data-points="2" cx="75" cy="75" r="50"
            fill="#fcfdef" />
        <circle data-points="3" cx="75" cy="75" r="30"
            fill="{{.Color}}" />
        <circle data-points="4" cx="75" cy="75" r="10"
            fill="#fcfdef" />
    </svg>
</div>
{{end}}
